body {
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a[target]{
    color: blue;
}
a[target="_blank"]{
    color: brown;
}
a[target="_self"]{
    text-decoration: underline;
}

label { 
    text-align: right;
    display: block;
    width: 262px;
    border: 1px solid red;
    margin: 0;
    font-size: 14px;
    font-weight: bold;

}

input {
    padding: 5px;
    width: 250px;
    border: 2px solid rgb(97, 137, 163);
}
input[required]{
    border-color:  brown;
}

input [type="tel"]{
    color: chocolate;
}